.jumbotron {
    background-color: #2680E3;
}

label {
    display: block;
}

.hidden {
    display: none;
}

.five-day {
    width: 19%;
    float: left;
    margin: 2px;
}

.lowUV {
    background-color: greenyellow;
}

.mediumUV {
    background-color: yellow;
}

.highUV {
    background-color: red;
    color: white;
}

.inline-img {
    display: inline;
}